.thirdPage_wrapper {
    position: relative;
    background: #F5E7E4;
    margin-top: 2rem;
    padding-bottom: 3rem;
    z-index: -2;
}


.thirdPage_content {
    display: flex;
}

.tp_left_content {
    flex: 1;
    text-align: center;
    padding-top: 2rem;
}

.tp_left_content div {
    width: 50%;
    margin: auto;
    background: white;
    border-radius: 10rem 10rem 0 0;
}

.tp_left_content img {
    width: 80%;
    margin-top: 1.8rem;
    border-radius: 10rem 10rem 0 0;
}

.tp_left_content p {
    color: #191245;
    font-size: 0.9rem;
    width: 80%;
    margin: 2rem auto 0 auto;
    padding-bottom: 2rem;
}

.tp_right_content {
    flex: 1;
    padding-top: 6rem;
}

.tp_right_content h1 {
    font-size: 2.5rem;
    line-height: 2.8rem;
    color: #191245;
    font-family: Marko One;
}

.tp_right_content h1 span {
    color: #D76161;
}

.tp_right_content>p {
    color: #191245;
    margin-top: 1rem;
    width: 80%;
    font-size: 0.8rem;
}

.tp_right_content section {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    width: 75%;
}

.tp_right_content section div {
    text-align: center;
    margin-top: auto;
    width: 20%;
    height: 5rem;
}

.tp_right_content section div img {
    height: 2rem;
}

.tp_right_content section div p {
    font-size: 0.7rem;
    color: #D76161;
    text-transform: capitalize;
}

.tp_footer {
    display: flex;
    color: #D76161;
    align-items: center;
    padding: 0 4rem;
    margin-top: 2rem;
    justify-content: space-between;
    font-size: 0.9rem;
}

.tp_hr {
    width: 85%;
}

.tp_patternLeft {
    position: absolute;
    width: 6rem;
    top: 43%;
    left: 11%;
}

.tp_patternMid {
    position: absolute;
    width: 4rem;
    top: 33%;
    left: 35.5%;
}

.tp_patternRight {
    position: absolute;
    width: 23rem;
    top: -3%;
    right: 0%;
    z-index: -1;
}

/* media screen for tablet */

@media (max-width:768px) {
    .thirdPage_wrapper {
        margin-top: 0rem;
        padding-bottom: 1rem;
    }

    .tp_left_content p {
        font-size: 0.7rem;
        margin: 1rem auto 0 auto;
        padding-bottom: 1rem;
    }

    .tp_right_content h1 {
        font-size: 2rem;
        line-height: 2rem;
    }

    .tp_right_content>p {
        font-size: 0.7rem;
    }

    .tp_right_content>p:nth-child(2) {
        display: none;
    }

    .tp_right_content section {
        margin-top: 2rem;
    }

    .tp_right_content section div {
        height: 4rem;
    }

    .tp_right_content section div img {
        height: 1.5rem;
    }

    .tp_right_content section div p {
        font-size: 0.6rem;
        color: #D76161;
    }

    .tp_footer p {
        padding: 0;
        margin-top: 2rem;
    }

    .tp_footer p {
        display: none;
    }

    .tp_hr {
        width: 100%;
    }

    .tp_patternLeft {
        width: 4rem;
        top: 40%;
        left: 10%;
    }

    .tp_patternMid {
        width: 3.5rem;
    }

    .tp_patternRight {
        width: 16rem;
    }
}