.second_wrapper {
    position: relative;
    padding-bottom: 2rem;
}

.secondPage_content {
    padding-top: 4rem;
    display: flex;
    padding-bottom: 3rem;
}

.sp_left_content {
    flex: 1;
    padding-left: 4rem;
    padding-top: 4rem;
}

.sp_left_content h1 {
    font-size: 2.5rem;
    line-height: 4rem;
    color: #191245;
    font-family: Marko One;
}

.sp_left_content h1 span {
    color: #E86565;
}

.sp_left_content p {
    margin-top: 1rem;
    width: 65%;
    font-size: 0.8rem;
    color: #191245;

}

.sp_left_content h3 {
    margin-top: 1.5rem;
    color: #191245;
    font-family: Marko One;
}

.sp_left_content h3 img {
    width: 1rem;
    padding-left: 0.5rem;
}

.sp_right_content {
    flex: 1;
    text-align: right;
    padding-right: 4rem;
}

.sp_image {
    width: 90%;
    border-radius: 20rem 20rem 0 0;
}

.sp_right_content aside {
    margin-top: 0.5rem;
}

.sp_right_content aside img:first-child {
    margin-right: 1rem;
    padding: 0.5rem;
    border: 1px solid #EDEDED;
    border-radius: 50%;
    width: 1.5rem;
}

.sp_right_content aside img:last-child {
    width: 1.5rem;
    padding: 0.5rem;
    border-radius: 50%;
    background: #D76161;
}

.sp_footer {
    display: flex;
    color: #D76161;
    align-items: center;
    margin-top: 2.2rem;
    padding: 0 4rem;
    justify-content: space-between;
    font-size: 0.9rem;
}

.sp_hr {
    width: 92%;
}

.sp_text {
    color: #E7A1A1;
    font-size: 6rem;
    position: absolute;
    left: 48%;
    top: 63%;
    font-family: Marko One;
}

.sp_pattern {
    position: absolute;
    width: 15rem;
    bottom: 11%;
    z-index: -1;
}

/* media sreen for tablet */
@media (max-width:768px) {
    .secondPage_content {
        padding: 0;
    }

    .sp_left_content {
        flex: 1;
        padding-left: 2rem;
        padding-top: 0;
    }

    .sp_left_content p:nth-child(2) {
        display: none;

    }

    .sp_left_content h1 {
        font-size: 2rem;
    }

    .sp_left_content p {
        font-size: 0.7rem;
    }

    .sp_left_content h3 {
        font-size: 0.8rem;
    }


    .sp_right_content {
        padding-right: 2rem;
        padding-top: 1rem;
    }

    .sp_image {
        width: 100%;
        border-radius: 20rem 20rem 0 0;
    }


    .sp_right_content aside img {
        padding: 0.3rem !important;
        border: 1px solid #EDEDED;
        border-radius: 50%;
        width: 1rem !important;
    }

    .sp_right_content aside img:last-child {
        background: #D76161;
    }

    .sp_footer {
        padding: 0 2rem;
        margin-top: 1rem;
    }

    .sp_hr {
        width: 100%;
    }

    .sp_footer P {
        display: none;
    }

    .sp_text {
        font-size: 4rem;
        left: 41%;
        top: 64%;
    }

    .sp_pattern {
        width: 10rem;
        bottom: 12%;
        z-index: -1;
    }

}