.fifthPage_wrapper {
    background-image: url("../assets/fifthPage/background.png");
    margin-top: -7%;
    height: 117vh;
    position: relative;
    z-index: -2;
    overflow: hidden;
}

.fifthPage_content {
    text-align: center;
    padding-top: 22%;
}

.fifth_prev {
    padding: 0.7rem;
    border-radius: 50%;
    background-color: #fff;
    width: 2.5rem;
    margin-right: 0.5rem;
}

.fifth_next {
    margin-left: 0.5rem;
    width: 2.5rem;
    padding: 0.7rem;
    border-radius: 50%;
    background-color: #D76161;
}

.fifth_roses {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}

.fifth_roses div img {
    border-radius: 50%;
    background-color: #fff;
    width: 12rem;
}

.rose3 img {
    background-color: transparent !important;
    margin-top: -15%;
    position: relative;
    width: 30rem !important;

}

.fifthPage_content h3 {
    margin: 1rem 0;
    color: #D76161;
}

.fifthPage_content p {
    color: #191245;
    font-size: 0.8rem;
}

.fifth_curvedText {
    position: absolute;
    top: 8%;
}

.rose3_backgrond {
    position: absolute;
    width: 18%;
    top: 46%;
    left: 41%;
    z-index: -1;
}