.fifthPage_wrapper {
    background-image: url("../assets/fifthPage/background.png");
    margin-top: -7%;
    position: relative;
    z-index: -2;
    overflow: hidden;
}

.fifthPage_content {
    text-align: center;
    padding-top: 22%;
    padding-bottom: 2rem;
}

.fifth_prev {
    padding: 0.7rem;
    border-radius: 50%;
    background-color: #fff;
    width: 2.5rem;
    margin-right: 0.5rem;
}

.fifth_next {
    margin-left: 0.5rem;
    width: 2.5rem;
    padding: 0.7rem;
    border-radius: 50%;
    background-color: #D76161;
}

.fifth_roses {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}

.fifth_roses div img {
    border-radius: 50%;
    background-color: #fff;
    width: 12rem;
}

.rose3 img {
    background-color: transparent !important;
    margin-top: -15%;
    position: relative;
    width: 30rem !important;

}

.fifthPage_content h3 {
    margin: 1rem 0;
    color: #D76161;
}

.fifthPage_content p {
    color: #191245;
    font-size: 0.8rem;
}

.fifth_curvedText {
    position: absolute;
    top: 8%;
}

.rose3_backgrond {
    position: absolute;
    width: 18%;
    top: 48%;
    left: 41%;
    z-index: -1;
}

/* media screen for tablet */

@media (max-width:768px) {
    .fifthPage_wrapper {
        background-size: 130%;
        margin-top: 0;
    }

    .fifth_curvedText {
        top: 4%;
        width: 130%;
    }

    .fifthPage_content {
        text-align: center;
        padding-top: 18%;
        padding-bottom: 1rem;
    }

    .fifth_prev {
        padding: 0.5rem;
        width: 1.7rem;
        margin-right: 0.3rem;
    }

    .fifth_next {
        margin-left: 0.3rem;
        width: 1.7rem;
        padding: 0.5rem;
    }

    .fifth_roses {
        display: flex;
        justify-content: space-around;
        margin-top: 2rem;
    }

    .fifth_roses div img {
        width: 7rem;
    }

    .rose3 img {
        width: 17rem !important;
    }

    .rose3_backgrond {
        width: 19%;
        top: 42.5%;
        left: 40%;
    }

    .fifthPage_content h3 {
        margin-bottom: 0.5rem;
        font-size: 1.3rem;
    }

    .fifthPage_content p {
        font-size: 0.7rem;
    }

}

/* media querry for Large screen mobile  */

@media (max-width:426px) {
    .fifthPage_wrapper {
        background-size: 250%;
        margin-top: 0;
    }

    .fifth_curvedText {
        top: 4%;
        width: 250%;
    }

    .fifthPage_content {
        text-align: center;
        padding-top: 18%;
        padding-bottom: 1rem;
        position: relative;
    }

    .fifth_button {
        position: absolute;
        bottom: 8%;
        left: 40%;
    }

    .fifth_prev {
        padding: 0.5rem;
        width: 1.2rem;
        margin-right: 0.5rem;
    }

    .fifth_next {
        margin-left: 0.5rem;
        width: 1.2rem;
        padding: 0.5rem;
    }

    .fifth_roses {
        margin-top: 10%;
    }

    .rose1,
    .rose2,
    .rose4,
    .rose5 {
        display: none;
    }

    .rose3 img {
        width: 25rem !important;
    }

    .rose3_backgrond {
        width: 47%;
        top: 19%;
        left: 27%;
    }

    .fifthPage_content h3 {
        margin-bottom: 0.5rem;
        font-size: 1.1rem;
    }

    .fifthPage_content p {
        font-size: 0.7rem;
        width: 41%;
        margin: 0 auto;
        font-weight: 500;
        line-height: 1.1rem;
        margin-bottom: 20%;
    }

}