.footer_wrapper {
    position: relative;
}

.footer_top {
    background-image: url("../assets/footer/solidBackground.png");
    height: 15rem;
}

.footer_top {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Marko One;
    font-size: 2rem;
}


.footer_mid {
    position: relative;
    margin-top: -5.5rem;
    background-color: #19133B;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 6rem;
}

.footer_mid h1 {
    font-family: Marko One;
    font-size: 2.3rem;
    padding-top: 3rem;
}

.footer_mid h1 span {
    color: #D76161;
}

.footer_mid section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;
    width: 35%;
    border-bottom: 1px solid #363636;
    padding-bottom: 0.5rem;
}

.footer_mid section input {
    width: 60%;
    background-color: #19133B;
    border: none;
    color: white;
    z-index: +1;
}

.footer_mid section input:focus {
    outline: none;
}

.footer_mid section p {
    font-size: 1.2rem;
}

.footer_mid section p:last-child {
    color: #D76161;
    font-weight: 600;
}

.footer_mid section p img {
    width: 1rem;
    padding-left: 0.5rem;
}

.footer_mid h2 {
    margin-top: 6rem;
    font-family: Marko One;
    z-index: +1;
}

.footer_mid h2 img {
    width: 0.7rem;
}

.website {
    margin-top: 2rem;
    color: #D76161;
    font-size: 0.8rem;
    z-index: +1;
}

.address {
    margin-top: 1rem;
    font-size: 0.8rem;
    z-index: +1;
}

.footer_bottom {
    display: flex;
    width: 95%;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;
    z-index: +1;
}

.footer_bottom p:first-child {
    font-size: 0.7rem;
}

.footer_bottom p:last-child {
    display: flex;
    align-items: center;
    font-size: 0.7rem;
    padding: 0.5rem 0;
}

.footer_bottom p:last-child img {
    padding: 0 0.5rem;
    width: 1.5rem;
}

.footer_bottom p:last-child span {
    font-size: 1.5rem;
    font-weight: 600;
}

.backLogo {
    position: absolute;
    width: 100%;
}

/* media screen for tablet */

@media (max-width:768px) {
    .footer_top {
        height: 12rem;
    }

    .footer_top {
        font-size: 1.3rem;
    }

    .footer_mid {
        margin-top: -2.5rem;
        padding-bottom: 3rem;
    }

    .footer_mid h1 {
        font-size: 1.4rem;
        padding-top: 1rem;
    }

    .footer_mid h1 span {
        color: #D76161;
    }

    .footer_mid section {
        margin-top: 2.5rem;
        width: 35%;
        border-bottom: 1px solid #363636;
        padding-bottom: 0.5rem;
    }

    .footer_mid section input {
        width: 50%;
        background-color: #19133B;
        border: none;
        color: white;
        z-index: +1;
    }

    .footer_mid section input:focus {
        outline: none;
    }

    .footer_mid section p {
        font-size: 0.8rem;
    }

    .footer_mid section p img {
        width: 0.6rem;
    }

    .footer_mid h2 {
        margin-top: 3rem;
        font-size: 1.2rem;
    }

    .footer_mid h2 img {
        width: 0.6rem;
    }

    .website {
        margin-top: 1.5rem;
        color: #D76161;
        font-size: 0.6rem;
    }

    .address {
        font-size: 0.6rem;
    }

    .footer_bottom {
        margin-top: 2rem;
    }

    .footer_bottom p:first-child {
        font-size: 0.6rem;
    }

    .footer_bottom p:last-child {
        font-size: 0.6rem;
        padding: 0;
    }

    .footer_bottom p:last-child img {
        width: 1rem;
    }

    .footer_bottom p:last-child span {
        font-size: 1rem;
        font-weight: 500;
    }

    .backLogo {
        position: absolute;
        width: 100%;
    }
}